.chat {
  &__bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    width: 50px;
    height: 50px;
    background: purple;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &_active {
      border-top-right-radius: 0;
    }
  }

  &__container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    height: 400px;
    background: white;
    border-radius: 15px;
    opacity: 0;
    transform: translateY(10%);
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
      0 25px 50px 0 rgba(0, 0, 0, 0.05);
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &_active {
      pointer-events: auto;
      opacity: 1;
      transform: translateY(0);
    }
  }
}
